<% if flash.has?(:notice) %>
  <%= flash[:notice] %>
<% end %>

<h1>Sign up!</h1>

<form action="/signup" method="POST">
  <label>Email:</label>
  <input type="text" id="email" name="email"><br>

  <label>Password:</label>
  <input type="text" id="password" name="password"><br>

  <label>Restaurant:</label>
  <input type="checkbox" id="restaurant" name="restaurant" value="true">

  <input type="submit" name="submit" value="Sign up">
</form>
