<% if flash.has?(:notice) %>
  <%= flash[:notice] %>
<% end %>

<h1>Log in to your account!</h1>

<form action="/login" method="POST">
  <input type="email" id="email" name="email" placeholder="Email">
  <input type="password" id="password" name="password" placeholder="Password">
  <input type="submit" id="submit" name="submit" value="Log in">
</form>

<a href="/signup"> Or sign up here! </a>
