<h1>Add a new meal</h1>

<form action="/meals" method="POST">
  <p>Meal name: <input type="text" id="name" name="name" placeholder="Restaurant name - meal name"></p>

  <p>Meal description: <input type="text" id="description" name="description" placeholder="Brief list of ingredients and allergens"></p>

  <input type="submit" name="submit" value="Create meal">
</form>
