<h1>Edit meals</h1>

<form action="/meals/<%=@meal.id %>" method="POST">
  <input type="hidden" name="_method" id="hidden" value="PATCH">

  <input type="text" name="name" value="<%= @meal.name %>">

  <input type="text" name="phone_number" value="<%= @meal.phone_number %>">

  <input type="textarea" name="description" value="<%= @meal.description %>">
  
  <input type="submit" name="submit" value="Update">
</form>
