<h1>Meals</h1>

<% @meals.each do |meal| %>
<ol>
  <li><a href="/meals/<%= meal.id %>"> <%= meal.name %></a></li>
</ol>
<% end %>

<% if is_restaurant? %>
<a href="/meals/edit"> Edit Meals </a>
<a href="/meals/new"> Create Meals </a>
<% end %>
