<% if flash.has?(:notice) %>
  <%= flash[:notice] %>
<% end %>

<h1>Meals</h1>
<% if @meals.empty? %>
<p>Sorry, there are no meals available at the moment!</p>
<% else %>
  <% @meals.each do |meal| %>
  <ol>
    <li><a href="/meals/<%= meal.id %>"> <%= meal.name %></a></li>
  </ol>
  <% end %>
<% end %>

<p><a href="/logout">Log Out</a>

<% if is_restaurant? %>
|<a href="/users/show"> Your Saved Meals</a>
|<a href="/meals/edit"> Edit Meals</a>
|<a href="/meals/new"> Create Meals </a></p>
<% end %>
