<% if flash.has?(:notice) %>
  <%= flash[:notice] %>
<% end %>

<h1>Meals</h1>

<% if @meals.empty? %>
  <p>Sorry, there are no meals available at the moment!</p>
<% else %>

<ol>
  <% @meals.each do |meal| %>
    <li><a href="/meals/<%= meal.id %>"> <%= meal.name %></a></li>
  <% end %>
</ol>
<% end %>

<br>

<p><a href="/logout"> Log Out</a>

<% if is_restaurant? %>
|<a href="/users/show"> Your Meals </a>
|<a href="/meals/new"> Add Meal </a></p>
<% end %>
