<h1>Add a new meal</h1>

<form action="/meals" method="POST">
  <p>Meal name: <input type="text" name="name"></p>
  <p>Meal description: <input type="text" name="description"></p>
  <input type="submit" name="submit" value="Create meal">
</form>
