<h3><%= @meal.name %></h3>
<p><%= @meal.description %></p>

<% if is_restaurant? %>
<form action="/meals/<%= @meal.id %>/delete" method="POST">
  <input type="hidden" name="_method" id="hidden" value="DELETE">
  <input type="submit" value="Delete">
</form>

<a href="/meals/<%= @meal.id %>/edit">Edit meal</a>
<% end %>
<a href="/meals"> Back to all meals</a>
