<h1>Log in to your account!</h1>

<form action="/login" method="POST">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" name="submit" value="Log in!">
</form>
