<h1>Sign up!</h1>

<form action="/signup" method="POST">
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" name="submit" value="Sign up">
</form>
