<h2>Welcome to Save Me A Plate!</h2>
<p>Please log in or signup below:</p>

<nav>
  <% if logged_in? %>
    <% if is_restaurant? %>
      <a href="/meals/edit"> Edit Meals </a>
      <a href="/meals/new"> Create Meals </a>
      <% else %>

    <a href="/meals/meals"> View Meals </a>
    <a href="/logout"> Log Out </a>
    <% end %>

  <% else %>
    <a href="/signup"> Sign Up</a>
    <a href="/login"> Log In </a>
  <% end %>
</nav>
